################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Test/Test/obj/Debug
/Test/.vs/Test/v15/.suo
/Test/.vs/Test/v14/.suo
Test/.vs/config/applicationhost.config
